{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
         <link rel="stylesheet" href="{% static 'bookshop/css/style.css' %}">
    <meta charset="UTF-8">
    <title>Books lisst</title>
    <style>
        
       
 
    </style>
</head>
<body>
    <h1 style="text-align:center;">books List</h1>
    <table>
        <tr>
            <th>#</th>
            <th>books</th>
            <th>genre</th>
            <th>another info</th>
            
        </tr>
        
        {% for b in book %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ b.title }}</td>
            <td>{{b.description}}</td>

            <td><a href="{% url 'book_detail' b.id %}">show all about  book</a></td>
            
          
           
        </tr>
        {% empty %}
       
        {% endfor %}
    </table>
</body>
</html>
