
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
         <link rel="stylesheet" href="{% static 'bookshop/css/style.css' %}">
         <link rel="stylesheet" href="{% static 'bookshop/images' %}">
    <meta charset="UTF-8">
    <title>Book details</title>
    <style>
       
    </style>
</head>
<body>

    <h1>Book Details</h1>

   <table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>author</th>
        <th>publishment date</th>
        <th>price $</th>
        <th>views count</th>
     <th>image</th>
        
    </tr>
    <tr>
        <td>{{ book.id }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.author}}</td>

        <td>{{book.publishment_date}}</td>
        <td>{{book.price}}</td>
        <td>{{ book.number_of_views}}</td>
        <td>  <img src="{% static 'bookshop/images/book' %}{{ book.id }}.png" alt="{{ book.title }}" width="120"></td>
        
        
    </tr>
</table>


    <a href="{% url 'books_list' %}">Back to book list</a>

</body>
</html>
