
        h1 {
            text-align: center;
        }
        th, td {
            padding: 10px;
            text-align: center;
        }
        a {
            display: block;
            text-align: center;
            text-decoration: none;
            margin-top: 20px;
        }
        table {
            margin: 0 auto;
            border-collapse: collapse;
            width: 80%;
            height: 50%;
        }
        th {
            background-color: #f2f2f2;
        }
        td, th {
            border: 5px solid #000000;
        }
        body{
            background-color: aquamarine;
        }